#home {
    #time {
        letter-spacing: 6px;
        color: #887c4f;
        font-size: 15rem;
        font-weight: normal;
        margin:0;
        position:relative;
        top:120px
    } 
    #date {
        text-align: right;
        position: fixed;
        top: 15px;
        right: 15px;
        letter-spacing: 4px;
        .day {
            font-size: 2.75rem;
            text-transform: uppercase;
        }
        .date {
            font-size: 1.5rem;
        }
    }

    #weather {
        position:fixed;
        text-align: left;
        top:15px;
        left:15px;
        letter-spacing: 4px;
        .temperature {
            font-size:2.5rem;
        }
        .description {
            font-size:1.25rem;
            /*font-weight: bold;*/
        }
    }

    #stocks {
        width:100%;
        position: fixed;
        bottom: 15px;
        font-size: 1.5rem;
        .stock {
            margin: 0 10px;

            .percentage {
                font-size: 1.4rem;
                font-weight: normal;
                &.green {
                    color: #4a553e;
                }
                &.red {
                    color: #7a4f4f;
                }
            }
        }
    }
}