<div id='calendar'>
    <div id='back-button'><a href='/'><i class="fa fa-arrow-circle-left"></i></a></div>
    <div id='time'></div>
    <div id='date'></div>
    <div id='calendar-events'></div>
</div>


<script>
smartClock.components.time.create("#time");
smartClock.components.date.create("#date");
smartClock.components.calendar.create("#calendar-events");

setTimeout(() => {
    window.location.href = "/";
}, 90000)
</script>