<div id='forecast'>
    <div id='back-button'><a href='/'><i class="fa fa-arrow-circle-left"></i></a></div>
    <div id='time'></div>
    <div id='date'></div>
    <div id='forecast-list'></div>
</div>


<script>
smartClock.components.time.create("#time");
smartClock.components.date.create("#date");
smartClock.components.forecast.create("#forecast-list");
</script>