<div id='home'>
    <div id='time'></div>
    <div id='weather'></div>
    <div id='date'></div>
    <div id='stocks'></div>
    <div id='calendar-link'>
        <a href='/calendar'><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
    </div>
</div>


<script>
smartClock.components.time.create("#time");
smartClock.components.date.create("#date");
smartClock.components.weatherSmall.create("#weather");
smartClock.components.stockTicker.create("#stocks");
</script>