<div id='home'>
    <div id='time'></div>
    <div id='weather'></div>
    <div id='date'></div>
    <div id='stocks'></div>
</div>


<script>
smartClock.components.time.create("#time");
smartClock.components.date.create("#date");
smartClock.components.weatherSmall.create("#weather");
smartClock.components.stockTicker.create("#stocks");
</script>